<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="../../public/img/pic3.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/pic2.png" alt="Picture of a robot">
        </div>

        {{>footer}}
    </body>
</html>